* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: dodgerblue;
    width: fit-content;
    padding: 10px;
    text-align: center; 
    margin-inline:auto; 
    /* top,R,B,L */
    margin :100px auto 0px auto;
    font-family: sans-serif;
    color: white;
    /* box-shadow:10px 10px 10px 10px gray; */
    border-radius: 5px;
    
}
div:hover{
    box-shadow:10px 10px 10px 10px gray;
    transition: 0.5s;
}
ul{
    list-style-type:none;
    margin-block: 15px;
    text-transform: capitalize;
}
li{
    margin-block:15px ;
     /* border: 2px groove white;  */
     /* outline-style: inset white;  */
     border-bottom: 2px solid black;
     padding-bottom: 10px;
}
/* sudo selectors */
li:first-child{
 font-weight: bold;
 font-size: 45px;
}
button {
    padding: 10px;
    width: 300px;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    color: blue;
}
button:hover {
    background-color: black;
    transition: 1s;
}